*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
}

body{
    background: #cacac3;
    color: black;
}

h1{
    padding: 30px;
    text-align: center;
    background-color: #dcc973;
    border: #a79546 solid 4px;
}

h2,h3{
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    font-family: sans;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr 9fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo . title ."
    ;

    background: #fdf8e1;
    padding-top: 10px;
    padding-bottom: 10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-box{
    font-size: 0.4rem;
    background: white;
    border: black solid 1px;
    max-height: 340px;
    height: fit-content;
}

.images{
    width: 100%;
    height: auto;
    object-fit: contain;
    min-width: 300px;
}

.title{
    grid-area: title;
}

.logo{
    grid-area: logo;
    width: 150px;
    height: 150px;
}

nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

    text-align: center;
    padding: 10px;

    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover{
    color: blue;
}

a:active{
    color: black;
    background-color: rgb(74, 74, 74);
}

.button{
    background-color: grey;
    margin: 0px;
    padding: 10px;
    border: black solid 1px;
    border-radius: 20px;
    transition: all .2s ease-in;
    transform: scale(0.8);
}

.button:hover{
    transform: scale(1);
    background-color: rgb(159, 159, 159);
}

footer{
    text-align: center;
    font-size: 0.8rem;
    background-color: #fdf8e1;
    margin-top: 10px;
}

.box{
    background: #dcc973;
    border: #4f4722 solid 4px;
    padding: 20px;
}

footer{
    font-family: lato;
}

.footer-link{
    color: black;
}

p{
    padding: 10px;
}

@media (width < 700px){
    body{
        text-align: center;
    }

    h1{
        font-size: 1.2rem;
    }

    .image-box{
        max-height: 100%;
        width: auto;
    }

    .content{
        font-size: 0.8rem;
    }

    .cite{
        min-height: 30px;
        margin: 1%;
        padding-top: 0px;
    }

    header{
        padding-right: 10px;
        grid-template-columns: 1fr 2fr;
    }

    h1{
        font-size: 25px;
    }
}